extends layout

block content
	link(rel="stylesheet", href="/css/404-overrides.css")
	div(class='board')
		p(id='error') board not found
		p(id='code') 404
		a(id='go-home' href="/" style="font-size: 40px")
			i(class='fas fa-chevron-left')
			| &nbsp;&nbsp;GO BACK HOME
	script(src='/js/404.js')