html, body {
	margin: 0;
	padding: 0;
	/*overflow-x: hidden;*/
}

body {
	overflow-x: hidden;
}

.inner-banner {
	max-height: 250px;
	height: 250px;
	margin: 0;
	padding: 0;
	padding-bottom: 10px !important;
}

.overlay {
	margin-top: -100px;
	z-index: 1000;
	position: relative;
	margin-left: 10px;
}

.profile-picture {
	margin-right: 2%;
	/*
		Maya Blue: #55CDFC
		White: #FFFFFF
		Amaranth Pink: #F7A8B8
	*/
	border-color: var(--body-background);
}

.profile-title {
	color: white;
	margin-block-start: 5px;
	margin-block-end: 5px;
	margin-inline-start: 0;
	margin-inline-end: 0;
	transform: translateY(-50px);
}

.profile-bio {
	color: white;
	overflow: hidden;
	transform: translateY(-50px);
	width: 50%;
	margin-block-start: 5px;
	margin-block-end: 5px;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.profile-divider {
	width: 100px;
	margin-top: 75px;
}

.profile-divider-50 {
	width: 50px;
	margin-top: 37.5px;
}

.profile-divider-25 {
	width: 25px;
	margin-top: 18.75px;
}